@font-face{
  font-family: less-font-bold;
  src: url("/assets/fonts/Less\ Sans/Less-Bold.otf") format("opentype");
}
@font-face{
 font-family: less-font;
 src: url("/assets/fonts/Less\ Sans/Less.otf") format("opentype");
}
@font-face{
 font-family: less-font-light;
 src: url("/assets/fonts/Less\ Sans/Less-Light.otf") format("opentype");
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
light{
  font-family: less-font-light;
}

#fourth_page{
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 22;
    grid-row-end: 29;
    padding-top: 5%;
    background-image: url("../assets/img/Third-page-background-2.jpeg");
    position: relative;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow:auto;
  }

#development{
 
  
}
#management{
 
}
#design{
 
}
#personal{
 
}


.certificate_container{
  /*change*/
  position: relative;
  width: 20%;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: inline-table;
  
    
}


.certificate_img {
  position: relative;
    margin: 0px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    border-top: solid 3px gold;
    border-left: solid 2px gold;
    filter: brightness(40%);
}

.certificate_title{
    
    position: absolute;
    text-align: center;
    z-index: 1;
    font-size: 1.1vw;
    font-family: less-font;
    width: 70%;
    padding: 2%;
    background-color: rgba(255, 235, 205, 0.39);
    border-radius: 19px 0px 0px 0px;

    
    
}

/* Modal */ 
.modal {
    display: none; 
    position: absolute; 
    z-index: 2; 
    left: 0;
    top: 0;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
    
  }
  .modal_content{  
    z-index: 1;
    width: 70%;
    height: 87vh;
    margin: auto;
    padding: 3%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  #caption{
    position: absolute;
  }
  .certifications-title{
    width: 100%;
    text-align: end;
    padding-right: 50px;
    font-family: less-font;
    color: rgba(0, 0, 0, 0.438);
    font-size: 4vw;
    margin-bottom: 80px;

  }  
  .cert-title{
    font-family: less-font;
    font-size: 3vw;
    padding-left: 50px;
    
  }