@font-face{
    font-family: less-font-bold;
    src: url("/assets/fonts/Less\ Sans/Less-Bold.otf") format("opentype");
 }
 @font-face{
   font-family: less-font;
   src: url("/assets/fonts/Less\ Sans/Less.otf") format("opentype");
 }
 @font-face{
   font-family: less-font-light;
   src: url("/assets/fonts/Less\ Sans/Less-Light.otf") format("opentype");
 }
video{
    width: 100%;
    height:100%; 
}
#fifth-page{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 29;
    grid-row-end: 36;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 16vh);
}

.fifth-photo{

    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    background: url(/assets/img/glasses-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.time-line{
    font-family: less-font;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 10%;
    margin-top: 150px;
}
.timeline-title{
    font-size: 3vw;
    margin-left: 10%;
}
.time-line__img{
    width: 100%;
    height: auto;
}
#experience-title{

    grid-column: 1/13;
    grid-row: 2/3;
    text-align: start;
    padding-left: 50px;
    font-family: less-font;
    color: rgba(0, 0, 0, 0.438);
    font-size: 4vw;
    margin-bottom: 80px;
}
.video__presentation{
    grid-column: 8/13;
    grid-row: 1/4;
}