@font-face{
    font-family: less-font-bold;
    src: url("/assets/fonts/Less\ Sans/Less-Bold.otf") format("opentype");
 }
 @font-face{
   font-family: less-font;
   src: url("/assets/fonts/Less\ Sans/Less.otf") format("opentype");
 }
 @font-face{
   font-family: less-font-light;
   src: url("/assets/fonts/Less\ Sans/Less-Light.otf") format("opentype");
 }

.fifth-photo{

    display: flex;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 29;
    grid-row-end: 33;
    background-position: calc(100%);
    background: url(/assets/img/glasses-1.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

}
.time-line{
    font-family: less-font;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 32;
    grid-row-end: 33;
    margin-left: 10%;
    margin-top: 150px;
}
.timeline-title{
    font-size: 3vw;
    margin-left: 10%;
}
.time-line__img{
    width: 100%;
    height: auto;
}
#experience-title{

    grid-column: 1/13;
    grid-row: 30/32;
    text-align: end;
    padding-right: 50px;
    font-family: less-font;
    color: rgba(0, 0, 0, 0.438);
    font-size: 4vw;
    margin-bottom: 80px;
}