@font-face{
    font-family: less-font-bold;
    src: url("/assets/fonts/Less\ Sans/Less-Bold.otf") format("opentype");
 }
 @font-face{
   font-family: less-font;
   src: url("/assets/fonts/Less\ Sans/Less.otf") format("opentype");
 }
 @font-face{
   font-family: less-font-light;
   src: url("/assets/fonts/Less\ Sans/Less-Light.otf") format("opentype");
 }
regular{
    font-family: less-font;
}
#sixth-page{
  display: grid;
  grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 36;
    grid-row-end: 43;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 16vh);
    
}
.sixth-photo{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
  
    background: url(/assets/img/aboutus.png);
    background-size: 75% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    filter: opacity(30%);
}
.sixth-box{
    font-family: less-font-light;
    font-size: 1.5vw;
    line-height: 2.5rem; 
    text-align: center;
    margin-right: 20px;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 8;
}