.ele_container{
    padding: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    height: 20rem;
    width: 15rem;
    position: relative;
    
}
.elements{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

@keyframes background-animation {
    from {background-color: inherit;}
    to {background-color: rgba(0,0,0,.6);}
}
@keyframes background-animation2 {
    from {background-color: rgba(0,0,0,.6);}
    to {background-color: rgba(255, 255, 255, 0);}
}

.slide-right {
    transform: translateX(1rem);

}
.slide-left {
    

}
.slide-mid {
    

}

.slide1{
    transition: all 1s ;
    
}
.slide1::before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    animation-name: background-animation;
    animation-duration: 2s;
}
.slide2{
   left: -48px;
   z-index: 3;
}
.slide2:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0);
    animation-name: background-animation2;
    animation-duration: 2s;
}

.slide3{
    left: -96px;
   

}
.slide3:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0.6);
    animation-name: background-animation;
    animation-duration: 2s;
}


.carousel{
    display: flex;
    position: relative;
    width: 1000000000px;
    
  }
  .carousel ul{
    display: flex;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  .wrapper{
    padding-top: 13rem;
    padding-left: 3rem;
    width: calc(var(--slide-width)*2);
    height: var(--slide-height);
    overflow: hidden;
    position: relative;
    
  }
  .animation{
    transition: left 1s,top 1s;
  }