@font-face{
    font-family: less-font-bold;
    src: url("/assets/fonts/Less\ Sans/Less-Bold.otf") format("opentype");
 }
 @font-face{
   font-family: less-font;
   src: url("/assets/fonts/Less\ Sans/Less.otf") format("opentype");
 }
 @font-face{
   font-family: less-font-light;
   src: url("/assets/fonts/Less\ Sans/Less-Light.otf") format("opentype");
 }

@keyframes background-animation {
    from {background-color: inherit;}
    to {background-color: rgba(0,0,0,.6);}
}
@keyframes background-animation2 {
    from {background-color: rgba(0,0,0,.6);
     }
    to {background-color: rgba(255, 255, 255, 0);}
}
@keyframes background-animation3 {
    from {background-color: inherit; all: 0rem;}
    to {background-color: rgba(0,0,0,.6);all:0rem}
}

#Third_page{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 15;
    grid-row-end: 22 ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 16vh);
    position: relative;
    background-attachment: fixed;
    background-image: url("../assets/img/Minimalist-1.png");
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-position: 100%;
  
  }
.slide1{
    
    box-shadow: 10px 20px 10px 1px rgba(0, 0, 0, 0.089);
    top: 0px;
    cursor: pointer;
    visibility: visible;
}
.slide1::before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    animation-name: background-animation;
    animation-duration: 1s;
    z-index: 1;
}
.slide2{
    top: -20px;
    height: 92%;
    left: -48px;
    z-index: 2;
    box-shadow: 10px 20px 10px 1px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    visibility: visible;

}
.slide2:before {
    z-index: 0;
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0);
    animation-name: background-animation2;
    animation-duration: 1s;
}
.slide2 > .slide_title{
    background-color: rgba(190, 186, 124, 0.849);
    
}
.slide3{
    left: -96px;
    cursor: pointer;
    box-shadow: 10px 20px 10px 1px rgba(0, 0, 0, 0.089);
    top: 0px;
    visibility: visible;
}
.slide3:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0.6);
    animation-name: background-animation;
    animation-duration: 1s;
    z-index: 1;
}


.carousel{
    display: flex;
    position: relative;
    width: 1000000000px;
    left: -62vw;
    
  }
  .carousel ul{
    display: flex;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  .wrapper{

    padding-top: 4rem;
    padding-left: 3rem;
    width: 95%;
    height: calc(var(--slide-height)+100);
    overflow: hidden;
    position: relative;

    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end: 8 ;

    
  }
  .animation{
    transition: left 1s, top 1s, height 1s;
    
  }

  .slide_title{
      font-family: less-font-light;
      text-align: center;
      font-weight: 500;
      position: absolute;
      background-color: rgba(190, 186, 124, 0.603);
      top: 85%;
      width: 100%;
      font-size: 1.5vw;
      padding-top: 1%;
      padding-bottom: 1%;
  }
.modal__container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.description{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 6 ;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;    
    padding: 3rem;
    margin-top: 4rem;

   
}
.description_item{
    font-family: less-font-light;
    font-size: 1.5vw;
}
.title_slide{
    position: absolute;
    font-family: less-font;
    border-bottom: solid 1px;
    bottom: 90%;
    font-size: 1.7.vw;
    width: 80%;
    padding-bottom: 0.3rem;
}


.abs{
    position: absolute;
}
.hide{
   visibility: hidden;
}
.projects-title{
    font-family: less-font;
    grid-column: 1/13;
    grid-row: 2/4;
    text-align: end;
    font-family: less-font;
    color: rgba(0, 0, 0, 0.438);
    font-size: 4vw;
    padding-right: 50px;
    margin-bottom: 80px;
}


.ele_container{
    padding: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    width: 19.6vw;
    height: 28vw;
    position: relative;
 
}
.elements{
    height: 100%;
    width: 100%;
    object-fit: fill;

}

.slide_programmingIcon{
    width:40px; 
    height:40px; 
    position:absolute; 
    right:40px; 
    top:-40px;
}
.slide_githubIcon{
    width:40px; 
    height:40px; 
    position:absolute; 
    right:0px; 
    top:-40px;
}
.sliderModal {
    display: none; 
    position: fixed; 
    width: 100%;
    z-index: 2; 
    left: 0;
    top: 0;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
  
  }
  .sliderModal__content{  
    z-index: 1;
    width: auto;
    height: 87vh;
    margin: auto;
    padding: 3%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }


/*<a href='https://www.freepik.com/vectors/vintage'>Vintage vector created by rawpixel.com - www.freepik.com</a>*/
/*<a href='https://www.freepik.com/vectors/infographic'>Infographic vector created by freepik - www.freepik.com</a>*/
